{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Update product' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'Update product' %}</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">Update</button>
        </form>
    </div>

    {% url 'shopapp:product_details' pk=object.pk as product_detail_url %}
    {% blocktranslate %}
        <div>
            <a href="{{ product_detail_url }}"
            >Back to product</a>
        </div>
    {% endblocktranslate %}
{% endblock %}