{% extends 'shopapp/base.html' %}

{% load cache %}

{% block title %}
    User #{{ owner.id }} orders
{% endblock %}

{% block body %}
    <h1>Info about {% firstof owner.first_name owner.username %}'s orders</h1>
    {% if owner.is_authenticated %}

        {% if user_orders_qs %}
            <div>
            <h2>Order history</h2>
            {% for user_order in user_orders_qs %}
                {% cache 60 * 3 orders_list owner.id %}
                <div>
                    <p><a href="{% url 'shopapp:order_details' pk=user_order.pk %}"
                    >Order №{{ user_order.pk }}</a></p>
                </div>
                {% endcache %}
            {% endfor %}

            </div>
        {% else %}
            <h3>User hasn't made an order yet</h3>
        {% endif %}

    {% else %}
        <h2>Anonymous user</h2>
    {% endif %}

    <div>
        <a href="{% url 'shopapp:orders_list' %}"
        >All orders</a>
    </div>
    <div>
        <a href="{% url 'myauth:user-details' pk=owner.profile.user_id %}">
            Info about user {{ owner.first_name }}</a><br>
    </div>
{% endblock %}