{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Product' %} #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>Product <strong>{{ product.name }}</strong></h1>
    <div>
        <div>{% translate 'Description:' %} <em>{{ product.description }}</em></div>
        <div>{% translate 'Price:' %} <b>{{ product.price }}</b></div>
        <div>{% translate 'Discount:' %} {{ product.discount }}</div>
        <div>{% translate 'Archived:' %} {{ product.archived }}</div>
        <div>{% translate 'Created by:' %} {{ product.created_by }}</div>

        {% if product.preview %}
            <img width="300" src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
        {% endif %}

        {% if product.image %}
            <h3>{% translate 'Images' %}</h3>
            <div>
                {% for img in product.images.all %}
                    <div>
                        <img width="200" src="{{ img.image.url }}" alt="{{ img.image.name }}">
                        <div>{{ img.description }}</div>
                    </div>
                {% endfor %}
        {% else %}
            <div>{% translate 'No images uploaded yet' %}</div>
            </div>
        {% endif %}
    </div>
    {% url 'shopapp:product_update' pk=product.pk as update_product_url %}
    {% url 'shopapp:product_archive' pk=product.pk as archive_product_url %}
    {% url 'shopapp:products_list' as products_list_url %}

    {% blocktranslate %}
        <div>
            <a href="{{ update_product_url }}"
            >Update product</a>
        </div>
        <div>
            <a href="{{ archive_product_url }}"
            >Archive product</a>
        </div>
        <div>
            <a href="{{ products_list_url }}"
            >Bach to products list</a>
        </div>
    {% endblocktranslate %}

{% endblock %}